body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  line-height: 1.6;
}

.section {
  max-width: 1000px;
  margin: auto;
  padding: 5rem 2rem;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 3rem 1rem;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }
}

.right-aligned {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 5%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}


